In [ ]:
import pandas as pd
import numpy as np
import datetime

Energy at Day Level

In [ ]:
energy = pd.read_csv('C:/Users/amit1/Project/archive/daily_dataset1/daily_dataset.csv')

In [ ]:
energy = energy[['day','LCLid','energy_sum']]

In [ ]:
energy.head(5)

          day      LCLid  energy_sum
0  2011-12-15  MAC000131       9.505
1  2011-12-16  MAC000131      14.216
2  2011-12-17  MAC000131       9.111
3  2011-12-18  MAC000131      10.511
4  2011-12-19  MAC000131      15.647

In [ ]:
energy.LCLid.unique()

array(['MAC000131', 'MAC000132', 'MAC000221', ..., 'MAC004937',
       'MAC004965', 'MAC004977'], dtype=object)

In [ ]:
energy.day.unique()

array(['2011-12-15', '2011-12-16', '2011-12-17', '2011-12-18',
       '2011-12-19', '2011-12-20', '2011-12-21', '2011-12-22',
       '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
       '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
       '2011-12-31', '2012-01-01', '2012-01-02', '2012-01-03',
       '2012-01-04', '2012-01-05', '2012-01-06', '2012-01-07',
       '2012-01-08', '2012-01-09', '2012-01-10', '2012-01-11',
       '2012-01-12', '2012-01-13', '2012-01-14', '2012-01-15',
       '2012-01-16', '2012-01-17', '2012-01-18', '2012-01-19',
       '2012-01-20', '2012-01-21', '2012-01-22', '2012-01-23',
       '2012-01-24', '2012-01-25', '2012-01-26', '2012-01-27',
       '2012-01-28', '2012-01-29', '2012-01-30', '2012-01-31',
       '2012-02-01', '2012-02-02', '2012-02-03', '2012-02-04',
       '2012-02-05', '2012-02-06', '2012-02-07', '2012-02-08',
       '2012-02-09', '2012-02-10', '2012-02-11', '2012-02-12',
       '2012-02-13', '2012-02-14', '2012-02-15', '2012-02-16',
       '2012-02-17', '2012-02-18', '2012-02-19', '2012-02-20',
       '2012-02-21', '2012-02-22', '2012-02-23', '2012-02-24',
       '2012-02-25', '2012-02-26', '2012-02-27', '2012-02-28',
       '2012-02-29', '2012-03-01', '2012-03-02', '2012-03-03',
       '2012-03-04', '2012-03-05', '2012-03-06', '2012-03-07',
       '2012-03-08', '2012-03-09', '2012-03-10', '2012-03-11',
       '2012-03-12', '2012-03-13', '2012-03-14', '2012-03-15',
       '2012-03-16', '2012-03-17', '2012-03-18', '2012-03-19',
       '2012-03-20', '2012-03-21', '2012-03-22', '2012-03-23',
       '2012-03-24', '2012-03-25', '2012-03-26', '2012-03-27',
       '2012-03-28', '2012-03-29', '2012-03-30', '2012-03-31',
       '2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
       '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
       '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
       '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
       '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
       '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
       '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
       '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
       '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
       '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
       '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
       '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
       '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
       '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
       '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
       '2012-05-31', '2012-06-01', '2012-06-02', '2012-06-03',
       '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
       '2012-06-08', '2012-06-09', '2012-06-10', '2012-06-11',
       '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15',
       '2012-06-16', '2012-06-17', '2012-06-18', '2012-06-19',
       '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-23',
       '2012-06-24', '2012-06-25', '2012-06-26', '2012-06-27',
       '2012-06-28', '2012-06-29', '2012-06-30', '2012-07-01',
       '2012-07-02', '2012-07-03', '2012-07-04', '2012-07-05',
       '2012-07-06', '2012-07-07', '2012-07-08', '2012-07-09',
       '2012-07-10', '2012-07-11', '2012-07-12', '2012-07-13',
       '2012-07-14', '2012-07-15', '2012-07-16', '2012-07-17',
       '2012-07-18', '2012-07-19', '2012-07-20', '2012-07-21',
       '2012-07-22', '2012-07-23', '2012-07-24', '2012-07-25',
       '2012-07-26', '2012-07-27', '2012-07-28', '2012-07-29',
       '2012-07-30', '2012-07-31', '2012-08-01', '2012-08-02',
       '2012-08-03', '2012-08-04', '2012-08-05', '2012-08-06',
       '2012-08-07', '2012-08-08', '2012-08-09', '2012-08-10',
       '2012-08-11', '2012-08-12', '2012-08-13', '2012-08-14',
       '2012-08-15', '2012-08-16', '2012-08-17', '2012-08-18',
       '2012-08-19', '2012-08-20', '2012-08-21', '2012-08-22',
       '2012-08-23', '2012-08-24', '2012-08-25', '2012-08-26',
       '2012-08-27', '2012-08-28', '2012-08-29', '2012-08-30',
       '2012-08-31', '2012-09-01', '2012-09-02', '2012-09-03',
       '2012-09-04', '2012-09-05', '2012-09-06', '2012-09-07',
       '2012-09-08', '2012-09-09', '2012-09-10', '2012-09-11',
       '2012-09-12', '2012-09-13', '2012-09-14', '2012-09-15',
       '2012-09-16', '2012-09-17', '2012-09-18', '2012-09-19',
       '2012-09-20', '2012-09-21', '2012-09-22', '2012-09-23',
       '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27',
       '2012-09-28', '2012-09-29', '2012-09-30', '2012-10-01',
       '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
       '2012-10-06', '2012-10-07', '2012-10-08', '2012-10-09',
       '2012-10-10', '2012-10-11', '2012-10-12', '2012-10-13',
       '2012-10-14', '2012-10-15', '2012-10-16', '2012-10-17',
       '2012-10-18', '2012-10-19', '2012-10-20', '2012-10-21',
       '2012-10-22', '2012-10-23', '2012-10-24', '2012-10-25',
       '2012-10-26', '2012-10-27', '2012-10-28', '2012-10-29',
       '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
       '2012-11-03', '2012-11-04', '2012-11-05', '2012-11-06',
       '2012-11-07', '2012-11-08', '2012-11-09', '2012-11-10',
       '2012-11-11', '2012-11-12', '2012-11-13', '2012-11-14',
       '2012-11-15', '2012-11-16', '2012-11-17', '2012-11-18',
       '2012-11-19', '2012-11-20', '2012-11-21', '2012-11-22',
       '2012-11-23', '2012-11-24', '2012-11-25', '2012-11-26',
       '2012-11-27', '2012-11-28', '2012-11-29', '2012-11-30',
       '2012-12-01', '2012-12-02', '2012-12-03', '2012-12-04',
       '2012-12-05', '2012-12-06', '2012-12-07', '2012-12-08',
       '2012-12-09', '2012-12-10', '2012-12-11', '2012-12-12',
       '2012-12-13', '2012-12-14', '2012-12-15', '2012-12-16',
       '2012-12-17', '2012-12-18', '2012-12-19', '2012-12-20',
       '2012-12-21', '2012-12-22', '2012-12-23', '2012-12-24',
       '2012-12-25', '2012-12-26', '2012-12-27', '2012-12-28',
       '2012-12-29', '2012-12-30', '2012-12-31', '2013-01-01',
       '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05',
       '2013-01-06', '2013-01-07', '2013-01-08', '2013-01-09',
       '2013-01-10', '2013-01-11', '2013-01-12', '2013-01-13',
       '2013-01-14', '2013-01-15', '2013-01-16', '2013-01-17',
       '2013-01-18', '2013-01-19', '2013-01-20', '2013-01-21',
       '2013-01-22', '2013-01-23', '2013-01-24', '2013-01-25',
       '2013-01-26', '2013-01-27', '2013-01-28', '2013-01-29',
       '2013-01-30', '2013-01-31', '2013-02-01', '2013-02-02',
       '2013-02-03', '2013-02-04', '2013-02-05', '2013-02-06',
       '2013-02-07', '2013-02-08', '2013-02-09', '2013-02-10',
       '2013-02-11', '2013-02-12', '2013-02-13', '2013-02-14',
       '2013-02-15', '2013-02-16', '2013-02-17', '2013-02-18',
       '2013-02-19', '2013-02-20', '2013-02-21', '2013-02-22',
       '2013-02-23', '2013-02-24', '2013-02-25', '2013-02-26',
       '2013-02-27', '2013-02-28', '2013-03-01', '2013-03-02',
       '2013-03-03', '2013-03-04', '2013-03-05', '2013-03-06',
       '2013-03-07', '2013-03-08', '2013-03-09', '2013-03-10',
       '2013-03-11', '2013-03-12', '2013-03-13', '2013-03-14',
       '2013-03-15', '2013-03-16', '2013-03-17', '2013-03-18',
       '2013-03-19', '2013-03-20', '2013-03-21', '2013-03-22',
       '2013-03-23', '2013-03-24', '2013-03-25', '2013-03-26',
       '2013-03-27', '2013-03-28', '2013-03-29', '2013-03-30',
       '2013-03-31', '2013-04-01', '2013-04-02', '2013-04-03',
       '2013-04-04', '2013-04-05', '2013-04-06', '2013-04-07',
       '2013-04-08', '2013-04-09', '2013-04-10', '2013-04-11',
       '2013-04-12', '2013-04-13', '2013-04-14', '2013-04-15',
       '2013-04-16', '2013-04-17', '2013-04-18', '2013-04-19',
       '2013-04-20', '2013-04-21', '2013-04-22', '2013-04-23',
       '2013-04-24', '2013-04-25', '2013-04-26', '2013-04-27',
       '2013-04-28', '2013-04-29', '2013-04-30', '2013-05-01',
       '2013-05-02', '2013-05-03', '2013-05-04', '2013-05-05',
       '2013-05-06', '2013-05-07', '2013-05-08', '2013-05-09',
       '2013-05-10', '2013-05-11', '2013-05-12', '2013-05-13',
       '2013-05-14', '2013-05-15', '2013-05-16', '2013-05-17',
       '2013-05-18', '2013-05-19', '2013-05-20', '2013-05-21',
       '2013-05-22', '2013-05-23', '2013-05-24', '2013-05-25',
       '2013-05-26', '2013-05-27', '2013-05-28', '2013-05-29',
       '2013-05-30', '2013-05-31', '2013-06-01', '2013-06-02',
       '2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06',
       '2013-06-07', '2013-06-08', '2013-06-09', '2013-06-10',
       '2013-06-11', '2013-06-12', '2013-06-13', '2013-06-14',
       '2013-06-15', '2013-06-16', '2013-06-17', '2013-06-18',
       '2013-06-19', '2013-06-20', '2013-06-21', '2013-06-22',
       '2013-06-23', '2013-06-24', '2013-06-25', '2013-06-26',
       '2013-06-27', '2013-06-28', '2013-06-29', '2013-06-30',
       '2013-07-01', '2013-07-02', '2013-07-03', '2013-07-04',
       '2013-07-05', '2013-07-06', '2013-07-07', '2013-07-08',
       '2013-07-09', '2013-07-10', '2013-07-11', '2013-07-12',
       '2013-07-13', '2013-07-14', '2013-07-15', '2013-07-16',
       '2013-07-17', '2013-07-18', '2013-07-19', '2013-07-20',
       '2013-07-21', '2013-07-22', '2013-07-23', '2013-07-24',
       '2013-07-25', '2013-07-26', '2013-07-27', '2013-07-28',
       '2013-07-29', '2013-07-30', '2013-07-31', '2013-08-01',
       '2013-08-02', '2013-08-03', '2013-08-04', '2013-08-05',
       '2013-08-06', '2013-08-07', '2013-08-08', '2013-08-09',
       '2013-08-10', '2013-08-11', '2013-08-12', '2013-08-13',
       '2013-08-14', '2013-08-15', '2013-08-16', '2013-08-17',
       '2013-08-18', '2013-08-19', '2013-08-20', '2013-08-21',
       '2013-08-22', '2013-08-23', '2013-08-24', '2013-08-25',
       '2013-08-26', '2013-08-27', '2013-08-28', '2013-08-29',
       '2013-08-30', '2013-08-31', '2013-09-01', '2013-09-02',
       '2013-09-03', '2013-09-04', '2013-09-05', '2013-09-06',
       '2013-09-07', '2013-09-08', '2013-09-09', '2013-09-10',
       '2013-09-11', '2013-09-12', '2013-09-13', '2013-09-14',
       '2013-09-15', '2013-09-16', '2013-09-17', '2013-09-18',
       '2013-09-19', '2013-09-20', '2013-09-21', '2013-09-22',
       '2013-09-23', '2013-09-24', '2013-09-25', '2013-09-26',
       '2013-09-27', '2013-09-28', '2013-09-29', '2013-09-30',
       '2013-10-01', '2013-10-02', '2013-10-03', '2013-10-04',
       '2013-10-05', '2013-10-06', '2013-10-07', '2013-10-08',
       '2013-10-09', '2013-10-10', '2013-10-11', '2013-10-12',
       '2013-10-13', '2013-10-14', '2013-10-15', '2013-10-16',
       '2013-10-17', '2013-10-18', '2013-10-19', '2013-10-20',
       '2013-10-21', '2013-10-22', '2013-10-23', '2013-10-24',
       '2013-10-25', '2013-10-26', '2013-10-27', '2013-10-28',
       '2013-10-29', '2013-10-30', '2013-10-31', '2013-11-01',
       '2013-11-02', '2013-11-03', '2013-11-04', '2013-11-05',
       '2013-11-06', '2013-11-07', '2013-11-08', '2013-11-09',
       '2013-11-10', '2013-11-11', '2013-11-12', '2013-11-13',
       '2013-11-14', '2013-11-15', '2013-11-16', '2013-11-17',
       '2013-11-18', '2013-11-19', '2013-11-20', '2013-11-21',
       '2013-11-22', '2013-11-23', '2013-11-24', '2013-11-25',
       '2013-11-26', '2013-11-27', '2013-11-28', '2013-11-29',
       '2013-11-30', '2013-12-01', '2013-12-02', '2013-12-03',
       '2013-12-04', '2013-12-05', '2013-12-06', '2013-12-07',
       '2013-12-08', '2013-12-09', '2013-12-10', '2013-12-11',
       '2013-12-12', '2013-12-13', '2013-12-14', '2013-12-15',
       '2013-12-16', '2013-12-17', '2013-12-18', '2013-12-19',
       '2013-12-20', '2013-12-21', '2013-12-22', '2013-12-23',
       '2013-12-24', '2013-12-25', '2013-12-26', '2013-12-27',
       '2013-12-28', '2013-12-29', '2013-12-30', '2013-12-31',
       '2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
       '2014-01-05', '2014-01-06', '2014-01-07', '2014-01-08',
       '2014-01-09', '2014-01-10', '2014-01-11', '2014-01-12',
       '2014-01-13', '2014-01-14', '2014-01-15', '2014-01-16',
       '2014-01-17', '2014-01-18', '2014-01-19', '2014-01-20',
       '2014-01-21', '2014-01-22', '2014-01-23', '2014-01-24',
       '2014-01-25', '2014-01-26', '2014-01-27', '2014-01-28',
       '2014-01-29', '2014-01-30', '2014-01-31', '2014-02-01',
       '2014-02-02', '2014-02-03', '2014-02-04', '2014-02-05',
       '2014-02-06', '2014-02-07', '2014-02-08', '2014-02-09',
       '2014-02-10', '2014-02-11', '2014-02-12', '2014-02-13',
       '2014-02-14', '2014-02-15', '2014-02-16', '2014-02-17',
       '2014-02-18', '2014-02-19', '2014-02-20', '2014-02-21',
       '2014-02-22', '2014-02-23', '2014-02-24', '2014-02-25',
       '2014-02-26', '2014-02-27', '2014-02-28', '2011-12-01',
       '2011-12-02', '2011-12-03', '2011-12-04', '2011-12-05',
       '2011-12-06', '2011-12-07', '2011-12-08', '2011-12-09',
       '2011-12-10', '2011-12-11', '2011-12-12', '2011-12-13',
       '2011-12-14', '2011-11-25', '2011-11-26', '2011-11-27',
       '2011-11-28', '2011-11-29', '2011-11-30', '2011-11-23',
       '2011-11-24'], dtype=object)

In [ ]:
energy.energy_sum.unique()

array([ 9.505    , 14.2160001,  9.111    , ..., 24.237    , 21.28     ,
        6.312    ])

In [ ]:
i = energy[(energy.day == 'day')].index

In [ ]:
energy.drop(i)

                day      LCLid  energy_sum
0        2011-12-15  MAC000131       9.505
1        2011-12-16  MAC000131      14.216
2        2011-12-17  MAC000131       9.111
3        2011-12-18  MAC000131      10.511
4        2011-12-19  MAC000131      15.647
...             ...        ...         ...
3510428  2014-02-24  MAC004977       5.686
3510429  2014-02-25  MAC004977       4.042
3510430  2014-02-26  MAC004977       5.784
3510431  2014-02-27  MAC004977       5.475
3510432  2014-02-28  MAC004977       0.097

[3510433 rows x 3 columns]

In [ ]:
len(energy)

3510433

In [ ]:
energy.day=pd.to_datetime(energy.day,format='%Y-%m-%d').dt.date

In [ ]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510433 entries, 0 to 3510432
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   day         object
 1   LCLid       object
 2   energy_sum  float64
dtypes: float64(1), object(2)
memory usage: 80.3+ MB

# Weather Information
Daily level weather information is taken using darksky api in the datase

In [ ]:
weather = pd.read_csv('C:/Users/amit1/Project/archive/weather_daily_darksky.csv')
weather.head(4)

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   temperatureMax               882 non-null    float64
 1   temperatureMaxTime           882 non-null    object
 2   windBearing                  882 non-null    int64
 3   icon                         882 non-null    object
 4   dewPoint                     882 non-null    float64
 5   temperatureMinTime           882 non-null    object
 6   cloudCover                   881 non-null    float64
 7   windSpeed                    882 non-null    float64
 8   pressure                     882 non-null    float64
 9   apparentTemperatureMinTime   882 non-null    object
 10  apparentTemperatureHigh      882 non-null    float64
 11  precipType                   882 non-null    object
 12  visibility                   882 non-null    float64
 13  humidity                     882 non-null    float64
 14  apparentTemperatureHighTime  882 non-null    object
 15  apparentTemperatureLow       882 non-null    float64
 16  apparentTemperatureMax       882 non-null    float64
 17  uvIndex                      881 non-null    float64
 18  time                         882 non-null    object
 19  sunsetTime                   882 non-null    object
 20  temperatureLow               882 non-null    float64
 21  temperatureMin               882 non-null    float64
 22  temperatureHigh              882 non-null    float64
 23  sunriseTime                  882 non-null    object
 24  temperatureHighTime          882 non-null    object
 25  uvIndexTime                  881 non-null    object
 26  summary                      882 non-null    object
 27  temperatureLowTime           882 non-null    object
 28  apparentTemperatureMin       882 non-null    float64
 29  apparentTemperatureMaxTime   882 non-null    object
 30  apparentTemperatureLowTime   882 non-null    object
 31  moonPhase                    882 non-null    float64
dtypes: float64(16), int64(1), object(15)
memory usage: 220.6+ KB

In [ ]:
weather['day']=  pd.to_datetime(weather['time']) # day is given as timestamp
weather['day']=  pd.to_datetime(weather['day'],format='%Y%m%d').dt.date

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   temperatureMax               882 non-null    float64
 1   temperatureMaxTime           882 non-null    object
 2   windBearing                  882 non-null    int64
 3   icon                         882 non-null    object
 4   dewPoint                     882 non-null    float64
 5   temperatureMinTime           882 non-null    object
 6   cloudCover                   881 non-null    float64
 7   windSpeed                    882 non-null    float64
 8   pressure                     882 non-null    float64
 9   apparentTemperatureMinTime   882 non-null    object
 10  apparentTemperatureHigh      882 non-null    float64
 11  precipType                   882 non-null    object
 12  visibility                   882 non-null    float64
 13  humidity                     882 non-null    float64
 14  apparentTemperatureHighTime  882 non-null    object
 15  apparentTemperatureLow       882 non-null    float64
 16  apparentTemperatureMax       882 non-null    float64
 17  uvIndex                      881 non-null    float64
 18  time                         882 non-null    object
 19  sunsetTime                   882 non-null    object
 20  temperatureLow               882 non-null    float64
 21  temperatureMin               882 non-null    float64
 22  temperatureHigh              882 non-null    float64
 23  sunriseTime                  882 non-null    object
 24  temperatureHighTime          882 non-null    object
 25  uvIndexTime                  881 non-null    object
 26  summary                      882 non-null    object
 27  temperatureLowTime           882 non-null    object
 28  apparentTemperatureMin       882 non-null    float64
 29  apparentTemperatureMaxTime   882 non-null    object
 30  apparentTemperatureLowTime   882 non-null    object
 31  moonPhase                    882 non-null    float64
 32  day                          882 non-null    object
dtypes: float64(16), int64(1), object(16)
memory usage: 227.5+ KB

In [ ]:
weather.head(4)

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase,day
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52,2011-11-11
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53,2011-12-11
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10,2011-12-27
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25,2011-12-02

In [ ]:
weather.columns

Index(['temperatureMax', 'temperatureMaxTime', 'windBearing', 'icon',
       'dewPoint', 'temperatureMinTime', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureMinTime', 'apparentTemperatureHigh', 'precipType',
       'visibility', 'humidity', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex', 'time',
       'sunsetTime', 'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'sunriseTime', 'temperatureHighTime', 'uvIndexTime', 'summary',
       'temperatureLowTime', 'apparentTemperatureMin',
       'apparentTemperatureMaxTime', 'apparentTemperatureLowTime', 'moonPhase',
       'day'],
      dtype='object')

Selecting variables

In [ ]:
weather = weather[['temperatureMax', 'windBearing', 'dewPoint', 'cloudCover', 'windSpeed',
       'pressure', 'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase','day']]
weather = weather.dropna()

In [ ]:
weather.describe()

,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase
count,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000
mean,13.662747,195.712826,6.529750,0.477605,3.577696,1014.151158,12.726016,11.168524,0.781782,6.088138,12.931271,2.542565,7.711169,7.415096,13.545471,5.740942,0.501487
std,6.185761,89.391048,4.833612,0.193514,1.690570,11.057077,7.283022,2.467169,0.095366,6.034694,7.109260,1.832985,4.873611,4.891550,6.263084,6.051567,0.286707
min,-0.060000,0.000000,-7.840000,0.000000,0.200000,979.250000,-6.460000,1.480000,0.430000,-8.880000,-4.110000,0.000000,-5.640000,-5.640000,-0.810000,-8.880000,0.000000
25%,9.490000,120.000000,3.180000,0.350000,2.370000,1007.450000,7.030000,10.350000,0.720000,1.510000,7.330000,1.000000,3.980000,3.700000,9.210000,1.100000,0.260000
50%,12.630000,219.000000,6.370000,0.470000,3.440000,1014.620000,12.480000,11.970000,0.790000,5.320000,12.630000,2.000000,7.540000,7.100000,12.480000,4.890000,0.500000
75%,17.920000,255.000000,10.060000,0.600000,4.570000,1021.760000,17.920000,12.830000,0.860000,11.470000,17.920000,4.000000,11.470000,11.280000,17.920000,11.280000,0.750000
max,32.400000,359.000000,17.770000,1.000000,9.960000,1040.920000,32.420000,15.340000,0.980000,20.540000,32.420000,7.000000,20.540000,20.540000,32.400000,20.540000,0.990000

# UK Bank Holidays

In [ ]:
holiday = pd.read_csv('C:/Users/amit1/Project/archive/uk_bank_holidays.csv')
holiday.rename(columns={"Bank holidays":"day"})
holiday.columns = ["day","Type"]

In [ ]:
holiday['day'] = pd.to_datetime(holiday['day'],format='%Y-%m-%d').dt.date
holiday.head(4)

          day                                          Type
0  2012-12-26                                    Boxing Day
1  2012-12-25                                 Christmas Day
2  2012-08-27                           Summer bank holiday
3  2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)

In [ ]:
len(holiday)

25

In [ ]:
holiday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   day     25 non-null     object
 1   Type    25 non-null     object
dtypes: object(2)
memory usage: 528.0+ bytes

# Household Information

In [ ]:
household_info=pd.read_csv("C:/Users/amit1/Project/archive/informations_households.csv")

In [ ]:
household_info.head(7)

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0
5  MAC003579      Std  ACORN-A      Affluent  block_0
6  MAC003566      Std  ACORN-A      Affluent  block_0

In [ ]:
household_info.Acorn_grouped.unique()

array(['ACORN-', 'Affluent', 'Comfortable', 'Adversity', 'ACORN-U'],
      dtype=object)

In [ ]:
len(household_info)

5566

#  Merging energy with weather

In [ ]:
weather_energy =  energy.merge(weather,on='day')
weather_energy.head(2)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase
0,2011-12-15,MAC000131,9.505,7.97,234,2.41,0.42,4.71,996.75,4.25,12.79,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66
1,2011-12-15,MAC000132,9.578,7.97,234,2.41,0.42,4.71,996.75,4.25,12.79,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66

In [ ]:
weather_energy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3526707 entries, 0 to 3526706
Data columns (total 20 columns):
day                        object
LCLid                      object
energy_sum                 float64
temperatureMax             float64
windBearing                int64
dewPoint                   float64
cloudCover                 float64
windSpeed                  float64
pressure                   float64
apparentTemperatureHigh    float64
visibility                 float64
humidity                   float64
apparentTemperatureLow     float64
apparentTemperatureMax     float64
uvIndex                    float64
temperatureLow             float64
temperatureMin             float64
temperatureHigh            float64
apparentTemperatureMin     float64
moonPhase                  float64
dtypes: float64(17), int64(1), object(2)
memory usage: 565.0+ MB

In [ ]:
weather_energy.to_csv("C:/Users/amit1/Project/archive/outputfiles/weather_energy.csv",index = False)

#  Merging energy_weather with holiday

In [ ]:
weather_energy_holiday = weather_energy.merge(holiday, left_on = 'day',right_on = 'day',how = 'left')

In [ ]:
weather_energy_holiday.head(5)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type
0,2011-12-15,MAC000131,9.505,7.97,234,2.41,0.42,4.71,996.75,4.25,...,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66,NaN
1,2011-12-15,MAC000132,9.578,7.97,234,2.41,0.42,4.71,996.75,4.25,...,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66,NaN
2,2011-12-15,MAC000221,21.145,7.97,234,2.41,0.42,4.71,996.75,4.25,...,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66,NaN
3,2011-12-15,MAC000228,9.778,7.97,234,2.41,0.42,4.71,996.75,4.25,...,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66,NaN
4,2011-12-15,MAC000234,25.918,7.97,234,2.41,0.42,4.71,996.75,4.25,...,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66,NaN

In [ ]:
weather_energy_holiday.shape

(3501219, 21)

In [ ]:
weather_energy_holiday.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'Type'],
      dtype='object')

In [ ]:
weather_energy_holiday["Type"].unique()

array([nan, 'New Year?s Day (substitute day)',
       'Spring bank holiday (substitute day)',
       'Queen?s Diamond Jubilee (extra bank holiday)', 'Good Friday',
       'Early May bank holiday', 'Summer bank holiday', 'Easter Monday',
       'Christmas Day', 'Boxing Day', 'New Year?s Day',
       'Spring bank holiday'], dtype=object)

In [ ]:
weather_energy_holiday['Isholiday'] = np.where(weather_energy_holiday['Type'].isna(),0,1)

In [ ]:
weather_energy_holiday.tail(10)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type,Isholiday
3501209,2011-11-24,MAC000149,4.331,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0
3501210,2011-11-24,MAC000155,14.481,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0
3501211,2011-11-24,MAC000150,9.606,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0
3501212,2011-11-24,MAC000146,8.564,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0
3501213,2011-11-24,MAC000164,6.136,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0
3501214,2011-11-24,MAC000162,4.234,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0
3501215,2011-11-24,MAC000151,4.620,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0
3501216,2011-11-24,MAC000157,14.258,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0
3501217,2011-11-24,MAC000165,5.213,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0
3501218,2011-11-24,MAC000160,3.957,12.93,204,8.56,0.41,4.04,1027.22,12.93,...,7.3,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0

In [ ]:
weather_energy_holiday['Isholiday'].unique()

array([0, 1])

In [ ]:
weather_energy_holiday['DayOfWeek'] = pd.to_datetime(weather_energy_holiday['day']).dt.dayofweek  # monday = 0, sunday = 6
weather_energy_holiday['Isweekend'] = 0          # Initialize the column with default value of 0
weather_energy_holiday.loc[weather_energy_holiday['DayOfWeek'].isin([5, 6]), 'Isweekend'] = 1  # 5 and 6 correspond to Sat and Sun

In [ ]:
weather_energy_holiday.head(7)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type,Isholiday,DayOfWeek,Isweekend
0,2011-12-15,MAC000131,9.505,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.0,1.8,4.08,7.97,1.07,0.66,NaN,0,3,0
1,2011-12-15,MAC000132,9.578,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.0,1.8,4.08,7.97,1.07,0.66,NaN,0,3,0
2,2011-12-15,MAC000221,21.145,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.0,1.8,4.08,7.97,1.07,0.66,NaN,0,3,0
3,2011-12-15,MAC000228,9.778,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.0,1.8,4.08,7.97,1.07,0.66,NaN,0,3,0
4,2011-12-15,MAC000234,25.918,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.0,1.8,4.08,7.97,1.07,0.66,NaN,0,3,0
5,2011-12-15,MAC000235,31.685,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.0,1.8,4.08,7.97,1.07,0.66,NaN,0,3,0
6,2011-12-15,MAC000046,18.007,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.0,1.8,4.08,7.97,1.07,0.66,NaN,0,3,0

In [ ]:
weather_energy_holiday.drop(['Type','DayOfWeek'],axis=1,inplace=True)

we can make one column of holiday + weekend = "holiday"

In [ ]:
weather_energy_holiday["holiday"] = weather_energy_holiday["Isholiday"]+weather_energy_holiday["Isweekend"]
weather_energy_holiday.loc[weather_energy_holiday["holiday"]==2, ["holiday"]]=1

In [ ]:
weather_energy_holiday["holiday"].unique()

array([0, 1], dtype=int64)

In [ ]:
weather_energy_holiday.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'Isholiday', 'Isweekend',
       'holiday'],
      dtype='object')

In [ ]:
weather_energy_holiday.drop(['Isholiday','Isweekend'],axis=1,inplace=True)

In [ ]:
weather_energy_holiday.head(3)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday
0,2011-12-15,MAC000131,9.505,7.97,234,2.41,0.42,4.71,996.75,4.25,...,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66,0
1,2011-12-15,MAC000132,9.578,7.97,234,2.41,0.42,4.71,996.75,4.25,...,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66,0
2,2011-12-15,MAC000221,21.145,7.97,234,2.41,0.42,4.71,996.75,4.25,...,0.77,-2.58,4.38,1.0,1.8,4.08,7.97,1.07,0.66,0

In [ ]:
weather_energy_holiday.shape

(3501219, 21)

In [ ]:
weather_energy_holiday.holiday.unique()

array([0, 1], dtype=int64)

In [ ]:
weather_energy_holiday.to_csv("C:/Users/amit1/Project/archive/outputfiles/weather_energy_holiday.csv",index = False)

In [ ]:
finaldf=weather_energy_holiday.merge(household_info,on="LCLid",how="left")

In [ ]:
finaldf.shape

(3501219, 25)

In [ ]:
finaldf.head(4)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,stdorToU,Acorn,Acorn_grouped,file
0,2011-12-15,MAC000131,9.505,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,ACORN-E,Affluent,block_22
1,2011-12-15,MAC000132,9.578,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,ACORN-E,Affluent,block_22
2,2011-12-15,MAC000221,21.145,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,ACORN-E,Affluent,block_22
3,2011-12-15,MAC000228,9.778,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,ACORN-E,Affluent,block_22

In [ ]:
finaldf.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'holiday', 'stdorToU', 'Acorn',
       'Acorn_grouped', 'file'],
      dtype='object')

I have assumed the ACORN Category 'ACORN-U' to be 'NotPrivateHouseholds'

In [ ]:
finaldf['AcornCategory']=pd.DataFrame(["AffluentAcheivers" if i in ['ACORN-A', 'ACORN-B', 'ACORN-C'] 
                                       else "RisingProsperity" if i in ['ACORN-D', 'ACORN-E'] 
                                       else "ComfortableCommunities" if i in ['ACORN-F', 'ACORN-G', 'ACORN-H', 'ACORN-I', 'ACORN-J'] 
                                       else "FinanciallyStretched" if i in ['ACORN-K','ACORN-L', 'ACORN-M', 'ACORN-N']
                                       else "UrbanAdversity" if i in ['ACORN-O', 'ACORN-P', 'ACORN-Q']
                                       else "NotPrivateHouseholds" if i in ['ACORN-U','ACORN-'] else i for i in finaldf.Acorn])

In [ ]:
finaldf['AcornCategory'].unique()

array(['RisingProsperity', 'FinanciallyStretched',
       'ComfortableCommunities', 'UrbanAdversity', 'NotPrivateHouseholds',
       'AffluentAcheivers'], dtype=object)

In [ ]:
finaldf.drop(['Acorn_grouped'],axis=1,inplace=True)

In [ ]:
finaldf.head(4)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,stdorToU,Acorn,file,AcornCategory
0,2011-12-15,MAC000131,9.505,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,ACORN-E,block_22,RisingProsperity
1,2011-12-15,MAC000132,9.578,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,ACORN-E,block_22,RisingProsperity
2,2011-12-15,MAC000221,21.145,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,ACORN-E,block_22,RisingProsperity
3,2011-12-15,MAC000228,9.778,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,ACORN-E,block_22,RisingProsperity

In [ ]:
finaldf.rename(columns={"Acorn":"AcornGroup","stdorToU":"Tariff"},inplace=True)

I have assumed the ACORN Groups 'ACORN-U' and 'ACORN-' to be 'NotPrivateHouseholds'

In [ ]:
finaldf['AcornGroup']=finaldf['AcornGroup'].map({'ACORN-A':' LavishLifestyles', 'ACORN-':'NotPrivateHouseholds', 'ACORN-B':'ExecutiveWealth', 'ACORN-C':'MatureMoney', 'ACORN-D':'CitySophisticates', 'ACORN-E':'CareerClimbers',
       'ACORN-F':'CountrysideCommunities', 'ACORN-G':'SuccessfulSuburbs', 'ACORN-H':'SteadyNeighbourhoods', 'ACORN-I':'ComfortableSeniors', 'ACORN-J':'StartingOut', 'ACORN-K':'StudentLife',
       'ACORN-L':'ModestMeans', 'ACORN-M':'StrivingFamilies', 'ACORN-N':'PoorerPensioners', 'ACORN-O':'YoungHardship', 'ACORN-P':'StrugglingEstates', 'ACORN-Q':'DifficultCircumstances',
       'ACORN-U':'NotPrivateHouseholds'})

In [ ]:
finaldf['AcornGroup'].unique()

array(['CareerClimbers', 'PoorerPensioners', 'SteadyNeighbourhoods',
       'StrugglingEstates', 'CountrysideCommunities', 'StudentLife',
       'DifficultCircumstances', 'ModestMeans', 'StartingOut',
       'NotPrivateHouseholds', 'YoungHardship', 'CitySophisticates',
       ' LavishLifestyles', 'SuccessfulSuburbs', 'StrivingFamilies',
       'MatureMoney', 'ExecutiveWealth', 'ComfortableSeniors'],
      dtype=object)

In [ ]:
finaldf['AcornGroup'].nunique()

18

In [ ]:
finaldf.head(4)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,Tariff,AcornGroup,file,AcornCategory
0,2011-12-15,MAC000131,9.505,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
1,2011-12-15,MAC000132,9.578,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
2,2011-12-15,MAC000221,21.145,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
3,2011-12-15,MAC000228,9.778,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity

In [ ]:
finaldf.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'holiday', 'Tariff',
       'AcornGroup', 'file', 'AcornCategory'],
      dtype='object')

In [ ]:
finaldf.AcornCategory.unique()

array(['RisingProsperity', 'FinanciallyStretched',
       'ComfortableCommunities', 'UrbanAdversity', 'NotPrivateHouseholds',
       'AffluentAcheivers'], dtype=object)

In [ ]:
finaldf['AcornGroup'].unique()

array(['CareerClimbers', 'PoorerPensioners', 'SteadyNeighbourhoods',
       'StrugglingEstates', 'CountrysideCommunities', 'StudentLife',
       'DifficultCircumstances', 'ModestMeans', 'StartingOut',
       'NotPrivateHouseholds', 'YoungHardship', 'CitySophisticates',
       ' LavishLifestyles', 'SuccessfulSuburbs', 'StrivingFamilies',
       'MatureMoney', 'ExecutiveWealth', 'ComfortableSeniors'],
      dtype=object)

In [ ]:
new=finaldf[finaldf["AcornCategory"]=="AffluentAcheivers"]
#new["AcornGroup"].unique()
len(new)

195656

In [ ]:
new=finaldf[finaldf["AcornCategory"]=="RisingProsperity"]
#new["AcornGroup"].unique()
len(new)

1208622

In [ ]:
new=finaldf[finaldf["AcornCategory"]=="FinanciallyStretched"]
#new["AcornGroup"].unique()
len(new)

467454

In [ ]:
new=finaldf[finaldf["AcornCategory"]=="UrbanAdversity"]
#new["AcornGroup"].unique()
len(new)

664773

In [ ]:
new=finaldf[finaldf["AcornCategory"]=="NotPrivateHouseholds"]
len(new)

30248

In [ ]:
finaldf.head(4)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,Tariff,AcornGroup,file,AcornCategory
0,2011-12-15,MAC000131,9.505,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
1,2011-12-15,MAC000132,9.578,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
2,2011-12-15,MAC000221,21.145,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
3,2011-12-15,MAC000228,9.778,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity

In [ ]:
finaldf.shape

(3501219, 25)

In [ ]:
print(max(finaldf["day"]))
print(min(finaldf["day"]))
finaldf["day"].nunique()
len(finaldf)

2014-02-28
2011-11-23

3501219

In [ ]:
finaldf.drop_duplicates(keep='first', inplace = True)

In [ ]:
finaldf.shape

(3501219, 25)

In [ ]:
finaldf.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'holiday', 'Tariff',
       'AcornGroup', 'file', 'AcornCategory'],
      dtype='object')

In [ ]:
finaldf.rename(columns={'energy_sum':'TotEnergyPerDay'},inplace = True)
finaldf.head()

,day,LCLid,TotEnergyPerDay,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,Tariff,AcornGroup,file,AcornCategory
0,2011-12-15,MAC000131,9.505,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
1,2011-12-15,MAC000132,9.578,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
2,2011-12-15,MAC000221,21.145,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
3,2011-12-15,MAC000228,9.778,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity
4,2011-12-15,MAC000234,25.918,7.97,234,2.41,0.42,4.71,996.75,4.25,...,1.8,4.08,7.97,1.07,0.66,0,Std,CareerClimbers,block_22,RisingProsperity

In [ ]:
finaldf.to_csv("C:/Users/amit1/Project/archive/outputfiles/finaldf.csv",index=False)

In [ ]:
housecount = finaldf.groupby("day")[["LCLid"]].count()
housecount.rename(columns={"LCLid":"housecount"}, inplace=True)
housecount.head()

            housecount
day
2011-11-23          13
2011-11-24          25
2011-11-25          32
2011-11-26          41
2011-11-27          41

In [ ]:
finaldfEnergySum=finaldf.groupby(["day"])[['TotEnergyPerDay']].sum()

In [ ]:
finaldfmean = finaldf.groupby("day").mean()
finaldfmean.drop(["TotEnergyPerDay"], axis=1, inplace = True)
finaldfmean.holiday = finaldfmean.holiday.astype(int)

In [ ]:
finaldfdata=finaldfmean.merge(housecount,on="day")
finaldfdata=finaldfdata.merge(finaldfEnergySum,on="day")
finaldfdata.head()

,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,housecount,TotEnergyPerDay
day,,,,,,,,,,,,,,,,,,,,
2011-11-23,10.36,229.0,6.29,0.36,2.04,1027.12,10.36,8.06,0.93,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94,0,13,90.385000
2011-11-24,12.93,204.0,8.56,0.41,4.04,1027.22,12.93,10.64,0.89,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97,0,25,213.412000
2011-11-25,13.03,243.0,7.24,0.48,5.02,1024.47,12.27,12.38,0.79,4.69,13.03,1.0,7.01,7.46,12.27,4.84,0.01,0,32,303.993000
2011-11-26,12.96,237.0,6.96,0.44,5.75,1025.80,12.96,13.07,0.81,11.59,12.96,1.0,11.59,7.01,12.96,4.69,0.05,1,41,420.976000
2011-11-27,13.54,256.0,5.76,0.42,5.48,1021.11,13.54,13.08,0.72,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,1,41,444.883001

In [ ]:
finaldfdata["AvgEnergyPerDay"] = [i / j for i, j in zip( finaldfdata["TotEnergyPerDay"], finaldfdata["housecount"])]
finaldfdata.head()
finaldfdata.tail()

,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,...,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,housecount,TotEnergyPerDay,AvgEnergyPerDay
day,,,,,,,,,,,,,,,,,,,,,
2014-02-24,14.23,183.0,6.03,0.50,5.02,1005.19,14.23,13.00,0.74,4.78,...,1.0,8.25,7.99,14.23,5.52,0.82,0,4994,51994.547004,10.411403
2014-02-25,11.43,202.0,5.06,0.62,5.69,1000.65,10.31,12.09,0.78,1.67,...,1.0,4.17,6.79,10.31,3.89,0.86,0,4995,51423.508001,10.294997
2014-02-26,11.29,227.0,2.74,0.26,3.82,1012.73,11.29,13.00,0.73,3.03,...,2.0,6.01,4.17,11.29,1.67,0.90,0,4993,50943.305995,10.202945
2014-02-27,10.31,224.0,3.08,0.32,4.14,1007.02,10.31,12.04,0.74,0.82,...,2.0,3.43,3.93,10.31,1.41,0.93,0,4990,51678.185998,10.356350
2014-02-28,7.35,61.0,3.11,0.67,2.24,998.92,4.51,10.80,0.86,0.76,...,1.0,3.05,3.43,7.35,0.82,0.97,0,4987,1042.266000,0.208997

In [ ]:
finaldfdata.reset_index(inplace = True)

In [ ]:
finaldfdata = finaldfdata[finaldfdata["day"]!="2014-02-28"]
finaldfdata.tail()

,day,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,...,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,housecount,TotEnergyPerDay,AvgEnergyPerDay
821,2014-02-24,14.23,183.0,6.03,0.50,5.02,1005.19,14.23,13.00,0.74,...,1.0,8.25,7.99,14.23,5.52,0.82,0,4994,51994.547004,10.411403
822,2014-02-25,11.43,202.0,5.06,0.62,5.69,1000.65,10.31,12.09,0.78,...,1.0,4.17,6.79,10.31,3.89,0.86,0,4995,51423.508001,10.294997
823,2014-02-26,11.29,227.0,2.74,0.26,3.82,1012.73,11.29,13.00,0.73,...,2.0,6.01,4.17,11.29,1.67,0.90,0,4993,50943.305995,10.202945
824,2014-02-27,10.31,224.0,3.08,0.32,4.14,1007.02,10.31,12.04,0.74,...,2.0,3.43,3.93,10.31,1.41,0.93,0,4990,51678.185998,10.356350
825,2014-02-28,7.35,61.0,3.11,0.67,2.24,998.92,4.51,10.80,0.86,...,1.0,3.05,3.43,7.35,0.82,0.97,0,4987,1042.266000,0.208997

In [ ]:
finaldfdata['day'] = pd.to_datetime(finaldfdata["day"])
finaldfdata["month"] = finaldfdata["day"].dt.month
finaldfdata["date"] = finaldfdata["day"].dt.day

In [ ]:
print("maximum date :", max(finaldfdata["day"]))
print("minimum date :", min(finaldfdata["day"]))

maximum date : 2014-02-28 00:00:00
minimum date : 2011-11-23 00:00:00

In [ ]:
finaldfdata.columns

Index(['day', 'temperatureMax', 'windBearing', 'dewPoint', 'cloudCover',
       'windSpeed', 'pressure', 'apparentTemperatureHigh', 'visibility',
       'humidity', 'apparentTemperatureLow', 'apparentTemperatureMax',
       'uvIndex', 'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'holiday', 'housecount',
       'TotEnergyPerDay', 'AvgEnergyPerDay', 'month', 'date'],
      dtype='object')

In [ ]:
finaldfdata.shape

(826, 24)

In [ ]:
finaldfdata.tail()

,day,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,...,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,housecount,TotEnergyPerDay,AvgEnergyPerDay,month,date
821,2014-02-24,14.23,183.0,6.03,0.50,5.02,1005.19,14.23,13.00,0.74,...,7.99,14.23,5.52,0.82,0,4994,51994.547004,10.411403,2,24
822,2014-02-25,11.43,202.0,5.06,0.62,5.69,1000.65,10.31,12.09,0.78,...,6.79,10.31,3.89,0.86,0,4995,51423.508001,10.294997,2,25
823,2014-02-26,11.29,227.0,2.74,0.26,3.82,1012.73,11.29,13.00,0.73,...,4.17,11.29,1.67,0.90,0,4993,50943.305995,10.202945,2,26
824,2014-02-27,10.31,224.0,3.08,0.32,4.14,1007.02,10.31,12.04,0.74,...,3.93,10.31,1.41,0.93,0,4990,51678.185998,10.356350,2,27
825,2014-02-28,7.35,61.0,3.11,0.67,2.24,998.92,4.51,10.80,0.86,...,3.43,7.35,0.82,0.97,0,4987,1042.266000,0.208997,2,28

In [ ]:
finaldfdata.to_csv("C:/Users/amit1/Project/archive/outputfiles/finaldfdata.csv",index=False)